<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wiro Sableng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initialscale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/typed.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Wiro Sableng</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                     <a class="nav-link" href="index.php">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="shop.php">Shop</a>
                </li>
                <li class="nav-item active">
                     <a class="nav-link" href="status.php">Status</a>
                </li>
                <li class="nav-item active">
                     <a class="nav-link" href="testimonials.php">Testmonials</a>
                </li>
                <li class="nav-item active">
                     <a class="nav-link" href="fruit_voting.php">Fruit Voting</a>
                </li>
                <li class="nav-item active">
                     <a class="nav-link" href="fruit_almanac.php">Fruit Almanac</a>
                </li>
                {% if not loggedIn %}
                <li class="nav-item active">
                    <a class="nav-link" href="register.php">Register</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="cart.php">My Cart</a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    {% if loggedIn %}
                        <a class="nav-link" href="process_logout.php">Logout ( {{loggedInUser["full_name"]}} )
                        </a>
                    {% else %}
                        <a class="nav-link" href="login.php">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col-md-3">
                <img class="rounded-circle w-50 mx-auto d-block" src="images/wiro.jpg"> </div>
            <div class="col-md-9">
                <h1>Fruit Voting</h1>
                <h3>According to you, which one of the following fruit is the best?
                </h3>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:10px">
        <div class="card-group">
            {% for fruit in fruits %}
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">
                        {{ fruit['name'] }}
                    </h4>          
                    <img class="rounded-circle w-50 mx-auto d-block card-img-top" src="{{ fruit['image'] }}">
                    <p class="card-text font-weight-bold">
                        ${{ fruit['price'] }}/item | {% if fruit['stock'] == 0 %}
                            out of stock.
                        {% elseif fruit['stock'] > 10 %} 
                            in stock.
                        {% else %}{{ fruit['stock'] }} left.
                        {% endif %}
                    </p>
                    <p>Badges: 
                        {% if fruit['id'] == mostVotedFruit %}
                            <span class="badge badge-primary">Most Voted</span>
                        {% else %}
                            None
                        {% endif %}
                    </p>
                    {% if loggedIn and not loggedInUser['owner'==1] %}
                    <p>In your cart: {{ fruit['in_cart'] }} item(s).</p>
                    {% endif %}
                    {% if loggedIn and not loggedInUser['owner'==1] %}
                    <form action="add_to_cart.php" method="post">
                        <input type="hidden" name="added_fruit" value="{{ fruit['id'] }}">
                        <input type="submit" class="btn btn-success btn-block" value="Add to cart"
                        {{ (fruit['stock'] and fruit['stock'] > fruit['in_cart'])? '' : 'disabled' }}>
                    </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div> 
</body>
</html>